Package: com.rubrdcky.rubrdckytest
Name: rubrdcky test
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: A test package for testing!
Maintainer: Jacob Warren <jwarren4881@gmail.com>
Author: Jacob Warren
Section: Themes
